@use '../../styles/colours';
@use '@nice-digital/nds-core/scss/colours' as core-colours;
@use '@nice-digital/nds-core/scss/media-queries';
@use '@nice-digital/nds-core/scss/spacing';
@use '@nice-digital/nds-core/scss/typography';
@use '@nice-digital/nds-core/scss/utils';

.prepHeading {
  @include typography.h4;
  max-width: none;

  @include media-queries.mq($from: md) {
    align-items: flex-start;
    display: flex;
    flex-direction: row-reverse;
    gap: utils.rem(spacing.$large);
  }
}

.headingIcons {
  align-items: center;
  display: flex;
  gap: utils.rem(spacing.$x-small);
  margin-bottom: utils.rem(spacing.$small);

  @include media-queries.mq($from: md) {
    justify-content: flex-end;
    margin-bottom: 0;
    text-align: right;
  }
}

.headingText {
  display: block;
  margin-bottom: utils.rem(spacing.$small);

  @include media-queries.mq($from: md) {
    flex-grow: 1;
  }
}

.label {
  @include typography.font-size(-2);
  background: colours.$substance-label-background;
  border: 1px solid core-colours.$border !important;
  color: colours.$substance-label-text;
  display: inline-block;
  font-weight: 500;
  padding: utils.rem(spacing.$xx-small) utils.rem(spacing.$x-small);
  text-decoration: none !important;
  white-space: nowrap;
}

.alertContent {
  > :first-child {
    margin-top: 0;
  }

  > :last-child {
    margin-bottom: 0;
  }
}
