**/package.json
**/package-lock.json

# Gatsby cache
.cache

# Generated test coverage
coverage

dist

functional-tests/docker-output
functional-tests/allure-report
functional-tests/bnf-website-build
functional-tests/bnfc-website-build

gatsby/public
