@use '@nice-digital/nds-core/scss/typography';

$section-font-size: 1;

.terms {
  ol {
    counter-reset: section;
    list-style: none;
  }

  > ol {
    margin-left: 0;
  }

  li::before {
    content: counters(section, '.') ' ';
    counter-increment: section;
  }

  li.noNumbering::before {
    content: '';
  }

  > ol > li::before {
    @include typography.font-size($section-font-size);
  }
}

.section {
  @include typography.font-size($section-font-size);
  font-weight: bold;
}
