@use 'sass:color';
@use '@nice-digital/nds-core/scss/core';

// @use '@nice-digital/nds-core/scss/typography/_typography-helpers';

.inlineList {
  margin-left: 0; /* TODO use typography helpers instead? */

  li {
    display: inline-block;
    margin-right: core.rem(core.$nds-spacing-small);
  }
}
