@use '../styles/colours';
@use '@nice-digital/nds-core/scss/spacing';
@use '@nice-digital/nds-core/scss/utils';

.homeWrapper {
  h2 {
    margin-top: 0;
  }

  p {
    margin-bottom: 0;
  }
}

.inlineList {
  margin-left: 0;

  li {
    display: inline-block;
    margin-right: utils.rem(spacing.$medium);
  }
}

.drugsColumn {
  background-color: colours.$index-drugs-column-background;
  border: 1px solid colours.$index-drugs-column-border;
  padding: utils.rem(spacing.$large);
}

.featureColumn {
  display: flex;
  flex-direction: column;

  > :first-child {
    margin-bottom: utils.rem(spacing.$large);
  }

  > * {
    background-color: colours.$index-feature-item-background;
    border: 1px solid colours.$index-feature-item-border;
    flex-grow: 1;
    padding: utils.rem(spacing.$large);
  }

  a {
    margin-bottom: 0;
  }
}

.drugsColumn,
.featureColumn {
  p {
    margin-bottom: utils.rem(spacing.$medium);
  }
}

.grid {
  row-gap: utils.rem(spacing.$large);
}
