@use '@nice-digital/nds-core/scss/core';

.nav {
  background: core.$nds-colour-nice-white;
  border: 1px solid core.$nds-colour-nice-grey-2;
  margin-bottom: core.rem(core.$nds-spacing-large);
  padding: core.rem(core.$nds-spacing-medium);
  position: sticky;
  top: 0;
  z-index: 1;

  &.navReadableMaxWidth {
    max-width: core.$nds-readable-width;
  }

  &.stuck {
    margin-left: -1rem; // TODO: replace with design system gutter vars
    width: calc(100% + 2rem); // TODO: replace with design system gutter vars
  }

  @media print {
    display: none;
  }
}

.heading {
  @include core.nds-h4;
  margin-top: 0;
}

.linkList {
  list-style: none;
  margin: 0;
  max-width: none;
  padding: 0;

  li {
    line-height: 1.3;
    margin-bottom: 0;
    padding: core.rem(core.$nds-spacing-x-small) 0;
  }
}

@include core.mq($from: md) {
  .linkList {
    column-gap: core.rem(core.$nds-spacing-large);
    columns: 2;

    li {
      break-inside: avoid;
    }
  }
}
