@use '@nice-digital/nds-core/scss/core';

.nav {
  background: core.$nds-colour-nice-white;
  border: 1px solid core.$nds-colour-nice-grey-2;
  margin-bottom: core.rem(core.$nds-spacing-large);
  padding: core.rem(core.$nds-spacing-medium);

  &.navReadableMaxWidth {
    max-width: core.$nds-readable-width;
  }

  @media print {
    display: none;
  }
}

.heading {
  @include core.nds-h4;
  margin-top: 0;
}

.linkList {
  list-style: none;
  margin: 0;
  max-width: none;
  padding: 0;
}

@include core.mq($from: md) {
  .linkList {
    columns: 2;
  }
}
