@use '../../styles/colours';
@use '@nice-digital/nds-core/scss/layout';
@use '@nice-digital/nds-core/scss/media-queries';
@use '@nice-digital/nds-core/scss/spacing';
@use '@nice-digital/nds-core/scss/typography';
@use '@nice-digital/nds-core/scss/utils';

$gutter: utils.rem(spacing.$medium);
$nav-box-shadow: 0 0 4px 3px rgba(0, 0, 0, 0.16);

.nav {
  background: colours.$section-nav-background;
  border: 1px solid colours.$section-nav-border;
  margin-bottom: utils.rem(spacing.$large);
  padding: utils.rem(spacing.$medium);

  &.navReadableMaxWidth {
    max-width: layout.$readable-width;
  }

  &.stuck {
    margin-left: -$gutter;
    position: fixed;
    top: 0;
    width: calc(100% + $gutter * 2);
    z-index: 1;
  }

  @media print {
    display: none;
  }
}

.fixed {
  background: colours.$section-nav-fixed-background;
  box-shadow: $nav-box-shadow;
  height: 2.7rem;
  left: 0;
  padding: utils.rem(spacing.$small) 0;
  position: fixed;
  top: 0;
  width: 100%;
}

.heading {
  @include typography.h4;
  margin-top: 0;

  .fixed & {
    margin-bottom: 0;
  }
}

.toggleButton {
  @include typography.font-size(0);
  align-items: center;
  background: transparent;
  border: 0;
  cursor: pointer;
  display: flex;
  text-decoration: underline;

  &:hover {
    text-decoration-thickness: utils.rem(spacing.$xx-small);
  }
}

.icon {
  margin-right: utils.rem(spacing.$x-small);
  position: relative;
  top: 0;
  transition: all 0.25s ease;

  .toggleButton:hover & {
    transform: translateY(#{utils.rem(spacing.$xx-small)});
  }

  &.iconExpanded {
    transform: rotate(180deg);

    .toggleButton:hover & {
      transform: translateY(#{utils.rem(spacing.$xx-small)}) rotate(180deg);
    }
  }
}

.linkList {
  list-style: none;
  margin: 0;
  max-width: none;
  padding: 0;

  @include media-queries.mq($from: md) {
    column-gap: utils.rem(spacing.$large);
    columns: 2;
  }

  .fixed & {
    background: colours.$section-nav-fixed-linklist-background;
    box-shadow: $nav-box-shadow;
    clip-path: inset(0 -5px -5px);
    left: -1rem;
    max-height: 90vh;
    overflow: auto;
    padding: 0 utils.rem(spacing.$medium) utils.rem(spacing.$medium);
    position: relative;
    top: 11px; // Rendering this in rem causes an ugly border
    width: calc(100% + 2rem);

    @include media-queries.mq($from: md) {
      max-width: 66%;
    }
  }

  li {
    line-height: 1.3;
    margin-bottom: 0;
    padding: utils.rem(spacing.$x-small) 0;

    @include media-queries.mq($from: md) {
      break-inside: avoid;
    }
  }
}
