@use '@nice-digital/nds-core/scss/colours' as core-colours;
@use '@nice-digital/nds-core/scss/spacing';
@use '@nice-digital/nds-core/scss/utils';

.section {
  border-bottom: 1px solid core-colours.$border;
  margin-bottom: utils.rem(spacing.$large);
  padding-bottom: utils.rem(spacing.$medium);
}
