@use '@nice-digital/nds-core/scss/core';

.section {
  border-bottom: 1px solid core.$nds-colour-border;
  margin-bottom: core.rem(core.$nds-spacing-large);
  padding-bottom: core.rem(core.$nds-spacing-medium);

  /* stylelint-disable selector-class-pattern -- Classes coming from the feed HTML */
  :global(.evidence-grading-label) {
    // Hide evidence grading until we decide whether we're keeping them
    display: none;
  }
}
