@use '@nice-digital/nds-core/scss/typography';

.productGroupList {
  list-style: none;
  margin: 0;
  max-width: none;
}

.productGroupHeading {
  @include typography.h3;
  margin-top: 0;
}

.manufacturer {
  font-style: italic;
  font-weight: bold;
}
