@use '../../styles/colours';
@use '@nice-digital/nds-core/scss/colours' as core-colours;
@use '@nice-digital/nds-core/scss/focus';
@use '@nice-digital/nds-core/scss/media-queries';
@use '@nice-digital/nds-core/scss/spacing';
@use '@nice-digital/nds-core/scss/utils';

.toggleButton {
  appearance: none;
  background: colours.$menu-toggle-button-background;
  border: 1px solid core-colours.$border;
  color: core-colours.$link;
  cursor: pointer;
  display: block;
  line-height: 1;
  /* stylelint-disable indentation, function-parentheses-space-inside */
  padding: utils.rem(
    spacing.$medium spacing.$large spacing.$medium spacing.$small
  );
  position: relative;
  text-align: left;
  text-decoration: none;
  width: 100%;

  &:visited {
    color: core-colours.$link;
  }

  &:focus {
    @include focus.default-focus-style;
    z-index: 1;
  }

  /* stylelint-disable selector-class-pattern */
  + :global(.stacked-nav) {
    display: none;

    // Non-JS fallback
    &:target {
      display: block;
    }
  }

  &[aria-expanded='false'] {
    margin: 0 0 utils.rem(spacing.$medium) 0;
  }

  &[aria-expanded='false'] + :global(.stacked-nav) {
    display: none;
  }

  &[aria-expanded='true'] {
    border-bottom: 0;

    .icon {
      transform: translateY(-50%) rotate(180deg);
    }

    + :global(.stacked-nav) {
      display: block;
    }
  }

  @include media-queries.mq($from: sm) {
    display: none;
  }
}

@include media-queries.mq($from: sm) {
  :global(#collapsible-menu) {
    display: block;
  }
}

.icon {
  color: core-colours.$link;
  position: absolute;
  right: utils.rem(spacing.$small);
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.25s ease;
}
