@use '../../styles/colours';
@use '../../styles/settings';
@use '@nice-digital/nds-core/scss/focus';
@use '@nice-digital/nds-core/scss/media-queries';
@use '@nice-digital/nds-core/scss/utils';
@use '@nice-digital/nds-core/scss/spacing';
@use '@nice-digital/nds-core/scss/typography';

.wrapper {
  border-top: utils.rem(spacing.$x-small) solid;
  position: sticky;
  top: -0.1px; // Hack to avoid 1px gap due to some weird Chrome sub pixel rounding
  z-index: 101; // Has to be visible over the sticky section nav (z: 100) and back to top (z:99)

  &.bnf {
    border-top-color: settings.$bnf-brand-colour;
  }

  &.bnfc {
    border-top-color: settings.$bnfc-brand-colour;
  }
}

.container {
  position: relative;
}

.tabs {
  margin: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.currentSiteTab,
.otherSiteTab {
  @include typography.font-size(-1);
  align-items: center;
  appearance: none;
  background: none;
  border: 0;
  color: colours.$site-distinction-tab-text;
  display: flex;
  flex-direction: row;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  gap: utils.rem(spacing.$x-small);
  justify-content: center;
  letter-spacing: 1px;
  line-height: 1.5rem;
  padding: utils.rem(spacing.$small) utils.rem(spacing.$small)
    calc(utils.rem(spacing.$small) + 1px); // Extra 1px ensures that the tab aligns perfectly with the sticky nav
  position: relative;
  text-decoration: none;
  text-shadow: 1px 0 0 currentColor;
  top: -1px; // To avoid a 1px gap in Chrome

  &:hover {
    color: colours.$site-distinction-tab-text;
  }
}

.currentSiteTab {
  z-index: 1; // To sit above the other site tab

  @include utils.when-is(button) {
    cursor: pointer;
  }

  &:focus {
    @include focus.default-focus-style;
  }

  &:focus:not(:focus-visible) {
    outline: none;
  }

  &:focus-visible {
    @include focus.default-focus-style;
  }

  .bnf & {
    background: settings.$bnf-brand-colour;
  }

  .bnfc & {
    background: settings.$bnfc-brand-colour;
  }
}

.otherSiteTab {
  cursor: pointer;
  opacity: 0;
  transform: translateY(-100%);
  transition: all 0.25s ease;

  &:hover {
    text-decoration: underline;
    text-decoration-thickness: utils.rem(spacing.$xx-small);
  }

  &:focus {
    z-index: 1; // So focus ring sits above current site tab
  }

  &:visited {
    color: colours.$site-distinction-tab-text;
  }

  .bnf & {
    background: settings.$bnfc-brand-colour;
  }

  .bnfc & {
    background: settings.$bnf-brand-colour;
  }

  &.otherSiteTabExpanded {
    opacity: 1;
    transform: translateY(0);
    z-index: 1; // So tab appears on IE11
  }
}

.icon {
  position: relative;
  top: 0;
  transition: all 0.25s ease;

  .currentSiteTab:hover & {
    transform: translateY(#{utils.rem(spacing.$xx-small)});

    &.iconExpanded {
      transform: translateY(-#{utils.rem(spacing.$xx-small)}) rotate(180deg);
    }
  }

  &.iconExpanded {
    transform: rotate(180deg);
  }
}

// temp width adjustment so tabs don't overlap breadcrumb on mobile
:global(.breadcrumbs) {
  width: 80%;
}

@include media-queries.mq($from: md) {
  :global(.breadcrumbs) {
    width: 100%;
  }
}
