@use '@nice-digital/nds-core/scss/colours' as core-colours;
@use '@nice-digital/nds-core/scss/focus';
@use '@nice-digital/nds-core/scss/spacing';
@use '@nice-digital/nds-core/scss/typography';
@use '@nice-digital/nds-core/scss/utils';

.wrapper {
  border-bottom: 1px solid core-colours.$border;
  margin-bottom: utils.rem(spacing.$large);
  padding-bottom: utils.rem(spacing.$large);
}

.toggleAllButton {
  @include typography.link-default;
  appearance: none;
  background: none;
  border: 0;
  cursor: pointer;
  padding: 0;

  &:focus {
    @include focus.default-focus-style;
  }

  &:focus:not(:focus-visible) {
    outline: none;
  }

  &:focus-visible {
    @include focus.default-focus-style;
  }

  @media print {
    display: none;
  }
}
