@use '@nice-digital/nds-core/scss/core';

.wrapper {
  border-bottom: 1px solid core.$nds-colour-nice-grey-2;
  margin-bottom: core.rem(core.$nds-spacing-large);
  padding-bottom: core.rem(core.$nds-spacing-large);
}

.toggleAllButton {
  @include core.nds-link-default;
  appearance: none;
  background: none;
  border: 0;
  cursor: pointer;
  padding: 0;

  &:focus {
    @include core.nds-default-focus-style;
  }

  &:focus:not(:focus-visible) {
    outline: none;
  }

  &:focus-visible {
    @include core.nds-default-focus-style;
  }

  @media print {
    display: none;
  }
}
