@use '@nice-digital/nds-core/scss/colours' as core-colours;
@use '@nice-digital/nds-core/scss/spacing';
@use '@nice-digital/nds-core/scss/utils';

.woundManagementIndex {
  table {
    border-bottom: 1px solid core-colours.$border;
    border-collapse: separate;
    display: table;
    padding-bottom: utils.rem(spacing.$small);

    tr {
      background: none;
    }

    th,
    td {
      background: none;
      border: 0;
      padding: 0 utils.rem(spacing.$large) utils.rem(spacing.$small) 0;
    }

    ul {
      list-style: none;
      margin: 0;
    }
  }
}
