@use '../../styles/colours';
@use '@nice-digital/nds-core/scss/layout';
@use '@nice-digital/nds-core/scss/media-queries';
@use '@nice-digital/nds-core/scss/spacing';
@use '@nice-digital/nds-core/scss/typography';
@use '@nice-digital/nds-core/scss/utils';

.hero {
  background: colours.$hero-background;
  left: 50%;
  margin-bottom: utils.rem(spacing.$large);
  margin-left: -50vw;
  margin-right: -50vw;
  overflow: hidden;
  padding-bottom: utils.rem(spacing.$large);
  position: relative;
  right: 50%;
  width: 100vw;

  .heroContainer {
    @include layout.container;
  }

  .title {
    @include typography.h1;
  }

  .intro {
    @include typography.lead;
    max-width: unset;
  }

  .lastUpdated {
    h2 {
      @include typography.h5;
      margin: 0;
    }

    time {
      @include typography.h3;
      display: block;
      font-weight: 700;
      margin: 0 0 utils.rem(spacing.$medium);
    }
  }
}

.breadcrumbs {
  flex: 0 1 100%;
}

@include media-queries.mq($from: md) {
  .heroContainer {
    align-items: center;
    column-gap: utils.rem(spacing.$medium);
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
  }

  .text {
    flex-grow: 1;
  }

  .lastUpdated {
    background-color: colours.$hero-last-updated-background;
    padding: utils.rem(spacing.$medium);
    padding-left: utils.rem(spacing.$medium);
    padding-right: utils.rem(spacing.$large);
  }

  .lastUpdated * {
    white-space: nowrap;
  }
}
