@use '~@nice-digital/nds-core/scss/core';

// @mixin nds-container {
//   margin: auto;
//   max-width: core.rem(core.$nds-container-max-width);
//   width: 96%; // IE11 support for calc not consistent https://caniuse.com/calc (See "Known issues")
//   width: calc(100% - #{core.rem(core.$nds-container-gutter * 2)});
// }

.hero {
  @include core.nds-links-inverse;
  @include core.nds-inverse-button-focus;
  background: core.$nds-colour-nice-white;
  color: core.$nds-colour-text;
  left: calc(50%);
  margin-bottom: core.rem(core.$nds-spacing-large);
  margin-left: -50vw;
  margin-right: -50vw;
  overflow: hidden;

  padding-bottom: core.rem(core.$nds-spacing-large);
  padding-top: core.rem(core.$nds-spacing-large);

  position: relative;
  right: calc(50%);
  width: 100vw;

  a {
    &:link,
    &:visited {
      color: core.$nds-colour-link;
    }

    &:hover {
      color: core.$nds-colour-link-hover;
    }

    &:active {
      color: core.$nds-colour-text-inverse;
    }
  }

  .heroContainer {
    @include core.nds-container;
  }

  .title {
    @include core.nds-h1;
  }

  .intro {
    @include core.nds-lead;
    max-width: unset;
  }

  .lastUpdated {
    background-color: core.$nds-colour-nice-grey-3;
    padding: core.rem(core.$nds-spacing-medium);

    h2 {
      @include core.nds-h5;
      margin: 0;
    }

    time {
      @include core.nds-h3;
      display: block;
      font-weight: 900;
      margin: 0;
    }
  }
}

@include core.mq($from: md) {
  .heroContainer {
    border: 10px solid pink;
    display: flex;
    flex-flow: row;
  }

  .text {
    flex-grow: 1;
  }

  .lastUpdated {
    border: 10px solid red;
  }
}
