@use '../../styles/colours';
@use '@nice-digital/nds-core/scss/colours' as core-colours;
@use '@nice-digital/nds-core/scss/focus';
@use '@nice-digital/nds-core/scss/media-queries';
@use '@nice-digital/nds-core/scss/spacing';
@use '@nice-digital/nds-core/scss/typography';
@use '@nice-digital/nds-core/scss/utils';

.alertText {
  > :last-child {
    margin-bottom: 0;
  }

  p {
    font-weight: normal;
  }
}

.grid {
  @include media-queries.mq($from: md) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}

.rightCol {
  @include media-queries.mq($from: md) {
    flex: 0 1 33%;
    margin-left: utils.rem(spacing.$large);
  }
}

.informationPanelHeading {
  @include typography.h6();
}

.interactionInformation {
  margin-bottom: utils.rem(spacing.$large);
}

.interactionsList {
  list-style: none;
  margin: 0;
}

.interactionsListItem {
  border-bottom: 1px solid colours.$interaction-list-item-border;

  &:last-child {
    border-bottom: 0;
    margin-bottom: utils.rem(spacing.$large);
  }
}

.filterForm {
  @include media-queries.mq($from: md) {
    align-items: flex-end;
    display: flex;
    flex: 1 0;
    padding-right: utils.rem(spacing.$medium);
  }
}

.filterInput {
  @include media-queries.mq($from: md) {
    flex: 1 0;
    margin-bottom: utils.rem(spacing.$xx-small);
  }
}

.filterButton {
  @include media-queries.mq($from: md) {
    margin: 0 0 0 utils.rem(spacing.$medium);
  }
}

.filterPanel {
  margin-bottom: utils.rem(spacing.$medium);

  @include media-queries.mq($from: md) {
    display: flex;
  }
}

.clearFilterWrapper {
  margin: 0 0 0 utils.rem(spacing.$small);
}

.clearFilterButton {
  background: colours.$interaction-clear-filter-button-background;
  border: 1px solid core-colours.$border;
  cursor: pointer;

  svg {
    @include typography.font-size(-2);
  }
}

.sortControls {
  margin-left: auto;
}

.sortButtonLabel {
  font-weight: bold;
}

.sortButton {
  @include typography.link-default;
  background: none;
  border: 0;
  cursor: pointer;
  font-weight: bold;
  padding: 0;

  &:focus:not(:focus-visible) {
    outline: none;
  }

  &:focus-visible {
    @include focus.default-focus-style;
  }
}

.resultCount {
  display: flex;
  font-weight: bold;
  margin: 0 0 utils.rem(spacing.$large) 0;
}

.noResultsHeading {
  @include typography.h5();
}

.linkButton {
  @include typography.link-default;
  background: none;
  border: 0;
  cursor: pointer;
  padding: 0;
}
