@use '@nice-digital/nds-core/scss/core';

.label {
  @include core.nds-link-default;
  align-items: center;
  color: core.$nds-colour-link;
  display: flex;
  flex-wrap: nowrap;
  text-decoration: underline;
}

.icon {
  display: block;
  margin-right: core.rem(core.$nds-spacing-small);
  transition: all 0.25s ease;

  &.open {
    transform: rotate(-180deg);
  }
}
