@use '@nice-digital/nds-core/scss/colours' as core-colours;
@use '@nice-digital/nds-core/scss/spacing';
@use '@nice-digital/nds-core/scss/utils';

.childTaxonomyList {
  list-style: none;
  margin: 0;

  > li {
    border-bottom: 1px solid core-colours.$border;
    padding-bottom: utils.rem(spacing.$large);
  }
}

.nestedTaxonomyList {
  column-gap: utils.rem(spacing.$large);
  columns: 2;
  list-style: none;
  margin: 0;

  li {
    break-inside: avoid-column;
    line-height: 1.6;
    margin-bottom: 0;
    padding: utils.rem(spacing.$x-small) 0;
  }
}
