@use '@nice-digital/nds-core/scss/media-queries';
@use '@nice-digital/nds-core/scss/spacing';
@use '@nice-digital/nds-core/scss/typography';
@use '@nice-digital/nds-core/scss/utils';

.form {
  margin-bottom: utils.rem(spacing.$large);
}

.prepList {
  list-style: none;
  margin: 0;
  max-width: none;
}

.labelAccordionHeading,
.nestedLabelAccordionHeading {
  @include typography.h4;
  align-items: center;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  max-width: none;

  @include media-queries.mq($from: md) {
    flex-direction: row;
    justify-content: flex-start;
  }
}

.nestedLabelAccordionHeading {
  @include typography.h6;
  flex-direction: row;
}

.warningIcon {
  margin: 0 0 0 utils.rem(spacing.$small);

  @include media-queries.mq($from: md) {
    margin: 0 utils.rem(spacing.$small) 0 0;
  }
}

.labelHeading {
  @include typography.h6;
}

.labelList {
  list-style: none;
  margin: 0;
  max-width: none;

  li {
    margin-bottom: utils.rem(spacing.$medium);

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.labelWelsh {
  font-style: italic;
}
