@use '@nice-digital/nds-core/scss/core';

.asideInfo {
  border: 1px solid #dedede;
  margin-bottom: core.rem(core.$nds-spacing-medium);
  padding: core.rem(core.$nds-spacing-medium);

  h2 {
    @include core.nds-h4;
    margin-top: 0;
  }
}

.prepList {
  list-style: none;
  margin: 0;
}

.labelAccordion {
  max-width: 66ch; // TODO: Move this into design system? It's used everywhere
}

.labelAccordionHeading {
  @include core.nds-h4;

  &::before {
    content: '\1F6C8';
    float: right;
    margin: 0 0 0 core.rem(core.$nds-spacing-small);

    @include core.mq($from: md) {
      float: none;
      margin: 0 core.rem(core.$nds-spacing-small) 0 0;
    }
  }
}

.labelHeading {
  @include core.nds-h6;
}

.labelList {
  list-style: none;
  margin: 0;

  li {
    margin-bottom: core.rem(core.$nds-spacing-medium);

    &:last-child {
      margin-bottom: 0;
    }
  }
}
