@use '@nice-digital/nds-core/scss/spacing';
@use '@nice-digital/nds-core/scss/utils';
@use '@nice-digital/nds-core/scss/media-queries';

.packDefinitionListItem {
  margin-bottom: utils.rem(spacing.$small);

  &:last-child {
    margin-bottom: 0;
  }

  @include media-queries.mq($from: md) {
    display: flex;
  }

  dt {
    font-weight: bold;

    @include media-queries.mq($from: md) {
      flex: 1 1 30%;
    }
  }

  dd {
    margin: 0;

    > :first-child {
      margin-top: 0;
    }

    > :last-child {
      margin-bottom: 0;
    }

    @include media-queries.mq($from: md) {
      flex: 1 1 70%;
    }
  }
}
