@use 'sass:color';
@use '../../../../styles/colours';
@use '@nice-digital/nds-core/scss/spacing';
@use '@nice-digital/nds-core/scss/typography';
@use '@nice-digital/nds-core/scss/utils';

.indicationWrapper {
  background: colours.$indication-content-wrapper-background;
  border: 1px solid colours.$indication-content-wrapper-border;
  margin-bottom: utils.rem(spacing.$medium);
  padding: utils.rem(spacing.$medium);
}

.indicationHeading {
  break-inside: avoid;
  line-height: 1.3;
  margin: utils.rem(0 0 spacing.$medium);
  max-width: none;
}

.indicationText {
  display: block;
  margin-top: utils.rem(spacing.$small);

  &:first-child {
    margin-top: 0;
  }
}

.routeOfAdministration {
  margin-bottom: utils.rem(spacing.$medium);

  &:last-child {
    margin-bottom: 0;
  }
}

.routeOfAdministrationHeading {
  @include typography.p;
  break-inside: avoid;
  margin: utils.rem(0 0 spacing.$medium);
  max-width: none;
}

.patientGroups {
  margin: 0;
}

.patientGroupDose {
  break-inside: avoid;
  margin-bottom: utils.rem(spacing.$medium);
  padding-left: utils.rem(spacing.$medium);
  position: relative;

  &:last-child {
    margin-bottom: 0;
  }

  &::before {
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: utils.rem(spacing.$small);
  }

  /* stylelint-disable function-parentheses-space-inside */
  // Use patterned colours to distinguish patient groups
  &.neonate::before {
    background: repeating-linear-gradient(
      -45deg,
      colours.$indication-dose-neonate-1,
      colours.$indication-dose-neonate-1 1px,
      colours.$indication-dose-neonate-2 1px,
      colours.$indication-dose-neonate-2 12px
    );
  }

  &.child::before {
    background: repeating-linear-gradient(
      45deg,
      color.adjust(colours.$indication-dose-child, $lightness: 75%),
      color.adjust(colours.$indication-dose-child, $lightness: 75%) 1px,
      colours.$indication-dose-child 1px,
      colours.$indication-dose-child 12px
    );
  }

  &.adult::before {
    background: colours.$indication-dose-adult;
  }
}

.patientGroup {
  font-weight: bold;
}

.doseStatement {
  margin: 0;
}

.supplementary {
  > :last-child {
    margin-bottom: 0;
  }
}
