@use '@nice-digital/nds-core/scss/core';

.details {
  background: none;
  border: 1px solid #8c8c8c; // TODO: add var to design system (nds-colour-border-dark) and replace it here
  margin: core.rem(core.$nds-spacing-medium 0);
  padding: core.rem(core.$nds-spacing-medium);

  > :last-child {
    margin-bottom: 0;
  }
}

.summary {
  cursor: pointer;
  display: flex;
  flex-direction: column-reverse;
  list-style: none;

  &::marker,
  &::-webkit-details-marker {
    display: none;
  }

  &:hover,
  &:hover * {
    color: #006bbd; // Specific to BNF accordions for now - Nick may move this into the design system later
  }

  > :last-child {
    margin: 0;
  }

  [open] > & {
    margin-bottom: core.rem(core.$nds-spacing-medium);
  }

  /* stylelint-disable selector-max-compound-selectors */
  :not([open]) > & ~ * {
    // Hacky fallbacks for browsers that don't support details/summary natively eg IE11
    display: none;
  }

  // Hack for IE11 whilst we still support it: https://css-tricks.com/two-issues-styling-the-details-element-and-how-to-solve-them/
  @supports not (-ms-ime-align: auto) {
    cursor: pointer;

    &:focus {
      @include core.nds-default-focus-style;
    }

    &:focus:not(:focus-visible) {
      outline: none;
    }

    &:focus-visible {
      @include core.nds-default-focus-style;
    }
  }
}

.toggleLabel {
  margin-top: core.rem(core.$nds-spacing-x-small);
}

.warningTheme {
  background: core.$nds-colour-caution-background;
  border: 1px solid core.$nds-colour-caution;

  .toggleLabel {
    color: core.$nds-colour-nice-rich-black;
  }

  .summary:hover,
  .summary:hover * {
    color: #407291; // TODO: this is a colour from the forthcoming brand updates that isn't in NDS yet. We should replace this with a ref to it once it's been updated
  }
}
