@use '../../styles/colours';
@use '@nice-digital/nds-core/scss/colours' as core-colours;
@use '@nice-digital/nds-core/scss/media-queries';
@use '@nice-digital/nds-core/scss/spacing';
@use '@nice-digital/nds-core/scss/typography';
@use '@nice-digital/nds-core/scss/utils';

.prepHeading {
  @include typography.h4;
  max-width: none;

  @include media-queries.mq($from: md) {
    align-items: flex-start;
    display: flex;
    flex-direction: row-reverse;
    gap: utils.rem(spacing.$large);
  }
}

.headingIcons {
  align-items: center;
  display: flex;
  gap: utils.rem(spacing.$x-small);
  margin-bottom: utils.rem(spacing.$small);

  @include media-queries.mq($from: md) {
    justify-content: flex-end;
    margin-bottom: 0;
    text-align: right;
  }
}

.headingText {
  display: block;

  @include media-queries.mq($from: md) {
    flex-grow: 1;
  }
}

.manufacturer {
  font-style: italic;
  font-weight: normal;
}

.packList {
  list-style: none;
  margin: 0;
  max-width: none;
}

.packItem {
  border-top: 1px solid core-colours.$border;
  margin: utils.rem(spacing.$medium) 0 0 0;

  dl {
    margin: utils.rem(spacing.$medium) 0 0 0;
  }
}

.packDefinitionListItem {
  margin-bottom: utils.rem(spacing.$small);

  &:last-child {
    margin-bottom: 0;
  }

  @include media-queries.mq($from: md) {
    display: flex;
  }

  dt {
    font-weight: bold;

    @include media-queries.mq($from: md) {
      flex: 1 1 30%;
    }
  }

  dd {
    margin: 0;

    @include media-queries.mq($from: md) {
      flex: 1 1 70%;
    }
  }
}

.sugarFree,
.controlledScheduleCode,
.legalCategory {
  @include typography.font-size(-2);
  background: colours.$prep-tag-background;
  border: 1px solid core-colours.$border !important;
  display: inline-block;
  font-weight: 700;
  padding: utils.rem(spacing.$xx-small) utils.rem(spacing.$x-small);
  text-decoration: none !important;
  text-transform: uppercase;
  white-space: nowrap;
}

.controlledScheduleCode,
.legalCategory {
  border-radius: utils.rem(spacing.$small) 0 0;
}
