@use '@nice-digital/nds-core/scss/core';

.card {
  position: relative;
}

.pathwaysIcon {
  margin-right: core.rem(core.$nds-spacing-small);
  vertical-align: text-bottom;
}

.list {
  list-style: none;
  margin: 0;
  max-width: unset;
  padding: 0;
}

.listItem {
  border-bottom: 1px solid core.$nds-colour-nice-grey-1;
  padding-bottom: core.rem(core.$nds-spacing-medium);
  position: relative;
}
