@use '../../styles/colours';
@use '@nice-digital/nds-core/scss/spacing';
@use '@nice-digital/nds-core/scss/utils';

.label {
  background: colours.$label-background;
  border: 1px solid colours.$label-border;
  border-radius: utils.rem(spacing.$x-small);
  padding: utils.rem(spacing.$medium);

  > :first-child {
    margin-top: 0;
  }

  > :last-child {
    margin-bottom: 0;
  }
}

.welsh {
  font-style: italic;
}
