@use '../../styles/colours';
@use '@nice-digital/nds-core/scss/spacing';
@use '@nice-digital/nds-core/scss/typography';
@use '@nice-digital/nds-core/scss/utils';

.messageList {
  list-style: none;
  margin: 0;
}

.interactantTitle {
  @include typography.h5();
}

.message {
  margin-bottom: utils.rem(spacing.$medium);
}

.message + .message {
  border-top: 2px dashed colours.$interaction-adjacent-border;
  padding-top: utils.rem(spacing.$medium);

  p:first-of-type {
    margin-top: 0;
  }
}

.severeMessage {
  border-left: utils.rem(spacing.$small) solid colours.$interaction-severe;
  padding-left: utils.rem(spacing.$medium);
}

.severeText {
  color: colours.$interaction-severe;
  display: inline-block;
  margin-right: utils.rem(spacing.$small);
}

.supplementaryInfo {
  margin-top: utils.rem(spacing.$medium);

  dt,
  dd {
    display: inline;
    margin: 0 utils.rem(spacing.$small) 0 0;
  }

  dd + dt {
    margin-left: utils.rem(spacing.$small);
  }
}
