@use '@nice-digital/nds-core/scss/core';

$brand-banner-clearance: core.rem(core.$nds-spacing-xx-large);
$back-to-top-clearance: core.rem(core.$nds-spacing-xx-large);

.wrapper {
  @include core.nds-hide-print;
  display: flex;
  flex-direction: column;
  top: $brand-banner-clearance;

  @include core.mq($from: lg) {
    $height-reduction: $brand-banner-clearance + $back-to-top-clearance;
    max-height: calc(100vh - #{$height-reduction});
    position: sticky;
  }
}

.heading {
  @include core.nds-h4;
  margin-top: 0;

  @include core.mq($from: lg) {
    padding-left: core.rem(core.$nds-spacing-x-small);
  }
}

.list {
  list-style: none;
  margin: 0 0 core.rem(core.$nds-spacing-medium);

  @include core.mq($from: lg) {
    margin-bottom: 0;
    overflow: auto;
    padding: core.rem(core.$nds-spacing-x-small); // To make room for focus ring
    padding-right: core.rem(core.$nds-spacing-small);
    scrollbar-width: core.rem(core.$nds-spacing-small);

    &::-webkit-scrollbar {
      background-color: core.$nds-colour-nice-grey-3;
      display: block;
      width: core.rem(core.$nds-spacing-small);
    }

    &::-webkit-scrollbar-thumb {
      background-color: core.$nds-colour-nice-grey-1;
    }
  }

  li {
    margin-bottom: core.rem(core.$nds-spacing-small);
  }

  a {
    display: block;
    line-height: 1.3;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
      text-decoration-thickness: 0.15rem;
    }
  }
}

.moreLinksButton {
  background: transparent;
  border: 0;
  cursor: pointer;
  margin: 0 0 core.rem(core.$nds-spacing-medium);
  padding-left: 0;

  @include core.mq($from: lg) {
    padding-left: core.rem(core.$nds-spacing-x-small);
  }
}

.activeHeading {
  font-weight: bold;
}
