@use '@nice-digital/nds-core/scss/core';

$site-distinction-banner-clearance: core.rem(core.$nds-spacing-large * 2);

.wrapper {
  @include core.nds-hide-print;
  top: core.rem(3rem);

  @include core.mq($from: lg) {
    position: sticky;
    top: $site-distinction-banner-clearance;
  }
}

.heading {
  @include core.nds-h4;
  margin-top: 0;
}

.list {
  list-style: none;
  margin: 0 0 core.rem(core.$nds-spacing-medium);

  @include core.mq($from: lg) {
    max-height: 90vh;
    overflow: auto;
  }
}
