@use '@nice-digital/nds-core/scss/colours/tokens/global' as *;

// Accordion
$accordion-details-border: $custom-grey-3;
$accordion-toggle-warning-label: $nice-black;
$accordion-summary-hover: $nice-blue-tint-1;

// CautionaryAndAdvisoryLabel
$label-background: $white;
$label-border: $nice-black;

// Hero
$hero-background: $white;
$hero-last-updated-background: $nice-cream-3;

// Index
$index-drugs-column-background: $white;
$index-drugs-column-border: $custom-grey-2;
$index-feature-item-background: $white;
$index-feature-item-border: $custom-grey-2;

// Indications
$indication-dose-neonate-1: $nice-teal;
$indication-dose-neonate-2: $nice-teal-tint-3;
$indication-dose-child: $custom-purple-1;
$indication-dose-adult: $nice-teal;
$indication-content-wrapper-background: $white;
$indication-content-wrapper-border: $custom-grey-2;

// Interactions
$interaction-adjacent-border: $custom-grey-1;
$interaction-clear-filter-button-background: $nice-cream-3;
$interaction-severe: $custom-red-1;
$interaction-info-panel-background: $nice-cream-3;
$interaction-list-item-border: $custom-grey-1;

// Menu
$menu-toggle-button-background: $nice-cream-3;

// OnThisPage
$on-this-page-scrollbar-background: $nice-cream-3;
$on-this-page-scrollbar-thumb: $custom-grey-1;

// Preps
$prep-tag-background: $white;

// SectionNav
$section-nav-background: $white;
$section-nav-border: $custom-grey-2;
$section-nav-fixed-background: $white;
$section-nav-fixed-linklist-background: $white;

// SiteDistinction
$site-distinction-bnf-background: #93da49;
$site-distinction-bnfc-background: #ef4a81;
$site-distinction-tab-text: $black;

// Substance
$substance-label-background: $black-tint-1;
$substance-label-text: $white;

// Tags
$tag-background: $white;
