@use '@nice-digital/nds-core/scss/spacing';
@use '@nice-digital/nds-core/scss/utils';

$nds-include-spacing-modifiers: false;
$nds-output-text-classes: false;
$nds-output-visibility-classes: false;

@import './settings';

@import './lato';

@import '~@nice-digital/design-system/scss/base';

html {
  overflow-x: visible; // Override the overflow from NDS, otherwise position sticky doesn't work
  scroll-behavior: smooth;
  scroll-padding-top: utils.rem(spacing.$x-large);

  @media (prefers-reduced-motion) {
    scroll-behavior: auto;
  }
}

body {
  // We're using font-display for Google fonts loading so on a slow connection you see FOUT
  // Trebuchet is closer to Lato than Arial and supported on 97-99.7% of devices (https://www.cssfontstack.com/Trebuchet-MS)
  // so gives less of a jump when the font swaps.
  // We use Roboto for Android devices
  font-family: 'Lato', 'Trebuchet MS', 'Roboto', 'Helvetica Neue', Helvetica,
    Arial, sans-serif;
  overflow-wrap: break-word; // To avoid really long links breaking out if their container and overlapping other content
  position: relative;
}

// $nds-output-visibility-classes stops visually-hidden being output so we re-add it here
/* stylelint-disable-next-line selector-class-pattern */
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* stylelint-disable-next-line selector-max-id */
#content-start:focus {
  outline: none;
}

footer {
  margin-top: 0 !important;
}

/* stylelint-disable-next-line selector-max-id */
#sticky-nav-portal {
  position: relative;
  z-index: 100; // Ugly, but necessary to be positioned over the back to top section, which has a z-index of 99
}
