@use '@nice-digital/nds-core/scss/core';

$nds-include-spacing-modifiers: false;
$nds-output-text-classes: false;
$nds-output-visibility-classes: false;

@import './settings';

@import './lato';

@import '~@nice-digital/design-system/scss/base';

html {
  overflow-x: visible; // Override the overflow from NDS, otherwise position sticky doesn't work
  scroll-behavior: smooth;
  // TODO: Add scroll padding when we have sticky navs etc. Note: this will break functional tests because they look for an element scrolling to the top of the viewport
  //scroll-padding-top: core.rem(core.$nds-spacing-large);

  @media (prefers-reduced-motion) {
    scroll-behavior: auto;
  }
}

body {
  // We're using font-display for Google fonts loading so on a slow connection you see FOUT
  // Trebuchet is closer to Lato than Arial and supported on 97-99.7% of devices (https://www.cssfontstack.com/Trebuchet-MS)
  // so gives less of a jump when the font swaps.
  // We use Roboto for Android devices
  font-family: 'Lato', 'Trebuchet MS', 'Roboto', 'Helvetica Neue', Helvetica,
    Arial, sans-serif;
  overflow-wrap: break-word; // To avoid really long links breaking out if their container and overlapping other content
  position: relative;
}

// $nds-output-visibility-classes stops visually-hidden being output so we re-add it here
/* stylelint-disable-next-line selector-class-pattern */
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* stylelint-disable-next-line selector-max-id */
#content-start:focus {
  outline: none;
}

footer {
  margin-top: 0 !important;
}

/* stylelint-disable selector-class-pattern -- Classes coming from the feed HTML */
.evidence-grading-label {
  // Hide evidence grading until we decide whether we're keeping them
  display: none;
}

/* branding stripe for bnf/bnfc */

.site-bnf main {
  border-top: 10px solid $bnf-brand-colour;
}

.site-bnfc main {
  border-top: 10px solid $bnfc-brand-colour;
}
