@use '@nice-digital/nds-core/scss/spacing';
@use '@nice-digital/nds-core/scss/utils';
@use '@nice-digital/design-system/scss/base' with (
  $include-spacing-modifiers: false,
  $output-text-classes: false,
  $output-visibility-classes: false
);

html {
  overflow-x: visible; // Override the overflow from NDS, otherwise position sticky doesn't work
  scroll-behavior: smooth;
  scroll-padding-bottom: utils.rem(spacing.$xx-large);
  scroll-padding-top: utils.rem(spacing.$x-large);
  // space for back to top link

  @media (prefers-reduced-motion) {
    scroll-behavior: auto;
  }
}

body {
  overflow-wrap: break-word; // To avoid really long links breaking out if their container and overlapping other content
  position: relative;
}

// $nds-output-visibility-classes stops visually-hidden being output so we re-add it here
/* stylelint-disable-next-line selector-class-pattern */
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* stylelint-disable-next-line selector-max-id */
#content-start:focus {
  outline: none;
}

footer {
  margin-top: 0 !important;
}

/* stylelint-disable-next-line selector-max-id */
#sticky-nav-portal {
  position: relative;
  z-index: 100; // Ugly, but necessary to be positioned over the back to top section, which has a z-index of 99
}
